body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: #ffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

input{
    padding: 8px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding:  8px 12px;
    margin: 3px;
    border: none;
    background: #007BFF;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    background: #eee;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.done{
    text-decoration: line-through;
    color: gray;
}